/* .sum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    font-size: large;
    font-weight: bold;
    flex: 1;
    background-color: white ;
    min-width: 390px;
} */
.logo{
    margin-left:1rem;

}
.navbar{
    display: flex;
    justify-content: space-between;

    
}
.ul{
    display: flex;
    list-style: none;
    margin-left: 50px;
}
li{
    margin:0 1rem;

}
a{  
    color: black !important;
    text-decoration: none !important;
}
.title{
    flex-basis: 734.55px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    margin-left: 30px;
}