body {
  background-color: #b0b7dd;
}
table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 1rem;
  background-color: white;
}

th {
  border: solid rgb(174, 172, 172);
  border-bottom: 1px solid;
  padding: 1rem;
  text-align: center;
}
td {
  border-bottom: 1px solid rgb(174, 172, 172);
  border-right: 1px solid rgb(174, 172, 172);
  padding: 1rem;
}
.region-th {
  min-width: 20rem;
  text-align: left;
}
.region-td {
  min-width: 20rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.region-name {
  min-width: 120px;
  display: flex;
}
.s {
  border: solid #8372ce;
  border-radius: 100%;
  background-color: #8372ce;
  color: white;
  min-width: 2rem;
  margin: 0 1rem 0 0;
}
select {
  flex: 1 1;
}
.filter-container {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
  height: 3rem;
  flex-wrap: wrap;
  padding: 0 2rem 0 2rem;
  border: 0;
}
.input-filter {
  flex: 1 1 60rem;
}
.table-container {
  padding: 0rem 2rem 1rem 2rem;
}
